/* General */

::selection {
  background-color: transparent;
  text-shadow: 1px 1px 4px rgba(0, 255, 241, .3);
}
body {
  background-color: #ebf5fc;
  color: #868686;
  font-family: 'Nunito', sans-serif;
}
.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container {
  max-width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button,
a {
	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}