/* Footer */

.footer {
  position: absolute;
  bottom: 5px;
  right: 10px;
}
.footer-text {
  opacity: .8;
}
.footer-link {
  color: #00fff1;
  transition: .3s;
}
.footer-link:hover {
  text-decoration: underline;
  text-shadow: 0 0 8px rgba(0, 255, 241, .5);
}